:root{
    --primary: #8aa6e4;
    --correct: #1d5f33;
    --partiallyCorrect: #d17000;
    --incorrect: #e04f4f;
}

s{
    text-decoration: line-through solid 2px;
}

.text-align-center{
    text-align: center;
}

.invisible{
    visibility: hidden;
}

.big-text{
    font-size: 20px;
}

.medium-big-text{
    font-size: 18px;
}

.bold{
    font-weight: 700;
}

.semi-bold{
    font-weight: 600;
}

.accepts-new-line{
    white-space: pre-wrap;
    word-break: break-word;
}

.non-selectable-text{
    user-select: none;
    cursor: default;
}

.my-button{
    border-radius: 10px;
    border: 2px solid;
    font-weight: 600;
}

.circle{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.flex-center-aligned{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.centered-text{
    text-align: center !important;
}

.correct{
    color: var(--correct)
}

.partially-correct{
    color: var(--partiallyCorrect)
}

.incorrect{
    color: var(--incorrect)
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.quick-fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.15s;
}

@media (max-height: 850px) {
    .big-text{
        font-size: 16px;
    }
    
    .medium-big-text{
        font-size: 16px;
    }
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pulsating-element{
    animation: pulse 3s infinite;
}

@keyframes pulse{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.myModal{
    width: 80vw !important;
}

.invisibleButton{
    background-color: transparent;
    border: none;
    padding: 0px;
}