:root{
    --primary: #8aa6e4;
}

.big-text{
    font-size: 20px;
}

.medium-big-text{
    font-size: 18px;
}

.bold{
    font-weight: 700;
}

.semi-bold{
    font-weight: 600;
}

.accepts-new-line{
    white-space: pre-wrap;
    word-break: break-word;
}

.non-selectable-text{
    user-select: none;
    cursor: default;
}

.my-button{
    border-radius: 10px;
    border: 2px solid;
    font-weight: 600;
}

.circle{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.flex-center-aligned{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}