:root {
    --primary: #8aa6e4;
}

body {
    overflow: hidden;
}

.game {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    position: absolute;
    top: 5vh;
    right: 15%;
    width: 15em;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--primary);
    background-color: white;
}

.info-text{
    margin: 5px;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0%;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.5s;
}

.slide-fade-leave-active {
    transition: all 0.5s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
}


@media (max-width: 1700px) {
    .info{
        top: 3.5%;
        right: 7.5%;
    }

    .info-text{
        font-size: 15px;
    }
}

@media (max-width: 1500px) {
    .info{
        width: auto;
        top: 3.5%;
        right: 1.5%;
    }

    .info-text{
        font-size: 15px;
    }
}