#narrative-text-container{
    position: relative;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 0%);
    width: 100vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
}

#continue-narration{
    position: absolute;
    bottom: 3em;
    font-size: 1.25em;
    margin-top: 4em;
}
.narrative-option-container{
    position: absolute;
    bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25%;
}

.narrative-option{
    display: flex;
    padding: 5px 10px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-width: 30%;
    max-width: 50%;
    height: auto;
    min-height: 50%;
    max-height:100%;

    border: 2px solid;
    border-radius: 10px;

    margin: 0px 20px 20px 20px;
    cursor: pointer;
}

.narrative-option:hover{
    border-color: #374253;
    background-color: #374253;
    color: #d9d8d8;
}

@media (max-height: 850px) {
    #continue-narration{
        bottom: 1.5em;
    }

    .narrative-option-container{
        bottom: 1.5em;
    }
}

.skip-button{
    position: absolute;
    bottom: -10%;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #374253;
    background-color: rgba(255, 255, 255, 0.8);
}

.skip-button:hover{
    border-color: #374253;
    background-color: #374253;
    color: #d9d8d8;
    cursor: pointer;
}