#narrative-text-container{
    width: 100vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
}

#continue-narration{
    position: absolute;
    align-self: flex-end;
    font-size: 1.25em;
}
