:root {
    --primary: #8aa6e4;
}

@media (min-height: 850px) {
    .report {
        height: 90vh;
        width: 600px;
        border: 2px solid;
        border-color: var(--primary);
        background-color: white;
        box-shadow: 12.5px 12.5px 10px rgb(63, 65, 68);
    }

    .report-buttons-container {
        position: fixed;
        width: 650px;;
        bottom: 3.25vh;
    }

    .report-button {
        cursor: pointer;
        padding: 10px;
    }
    
    .answer-button {
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 600;
        height: 50%;
    }
    
    .prev-button,
    .next-button {
        font-size: 50px;
        margin-left: 21%;
        margin-right: 21%;
    }
}

@media (max-height: 850px) {
    .report {
        height: 98vh;
        width: 800px;
        border: 2px solid;
        border-color: var(--primary);
        background-color: white;
        box-shadow: 12.5px 12.5px 10px rgb(63, 65, 68);
    }

    .report-buttons-container {
        position: fixed;
        width: 925px;
        bottom: 2px;
    }

    .report-button {
        cursor: pointer;
        padding: 10px;
    }
    
    .answer-button {
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 600;
        height: 50%;
    }
    
    .prev-button,
    .next-button {
        color: white;   
        font-size: 70px;
        margin-left: 21%;
        margin-right: 21%;
    }

}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0%;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}