:root {
    --primary: #8aa6e4;
}

.report {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 600px;
    margin-top: 20px;
    border: 2px solid;
    border-color: var(--primary);
    box-shadow: 12.5px 12.5px 10px rgb(223, 228, 238);
}

.report-buttons-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;;
    bottom: 7%;
}

.report-button {
    cursor: pointer;
    padding: 10px;
}

.answer-button {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    height: 50%;
}

.prev-button,
.next-button {
    font-size: 50px;
    margin-left: 21%;
    margin-right: 21%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0%;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}