.main-info{
    margin: 20px 0px  30px 0px;
}

.answer{
    font-weight: 700;
    font-size: 30px;
}

.correct{
    color: #41935c;
}

.partially-correct{
    color: #f0950c;
}

.incorrect{
    color: #e04f4f;
}