#title-screen-background{
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/starting-screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-screen-container{
    width: 70vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.game-title{
    font-weight: 700;
    font-size: 75px;
    margin-bottom: -5px;
}

.divisor{
    width: 60em;
    height: 0.5em;
    background-color: #374253;
    margin-bottom: 2em;
}

.game-subtitle{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1em;
}

.title-screen-points{
    color: green;
    font-size: 40px;
    font-weight: 700;
    margin-top: -1em;
    margin-bottom: 1em;
}

.title-screen-button{
    width: 30vw;
    height: 10vh;

    font-size: 30px;
    font-weight: 700;

    border: 5px solid;
    border-radius: 10px;
    
    margin-top: 25px;

    transition: 0.2s;
    cursor: pointer;
}

.title-screen-button:hover {
    border-color: #374253;
    background-color: #374253;
    color: #d9d8d8;
    font-weight: 600;
}