:root{
    --semiblack: #374253;
}

.typewriter-container{
    width: 60%;
    text-align: center
}

.typed-text{
    font-size: 1.5em;
}

.blinking-cursor {
    font-size: 2em;
    margin-bottom: 0.25em;
    color: var(--semiblack);
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--semiblack);
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--semiblack);
    }
}

@-webkit-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--semiblack);
    }
}

@-ms-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--semiblack);
    }
}

@-o-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--semiblack);
    }
}